@import "tailwindcss";

body,
html {
  @apply m-0 p-0 h-screen w-screen bg-cover bg-no-repeat;
  /* background-image: url("/assets/bg1.jpg"); */
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: multiply;
  font-family: "Segoe UI", sans-serif;
}
